<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>助理</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
    	<header>
    		<div class="goback"><span></span>返回</div>
    		助理
    		<div class="icon">
                <a href="search.html">推介</a>
            </div>
    	</header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
    	<div class="btn orangebtn fixedwidthbtn fixedwidthbtn120"><a href="createCandidates.html">录入应聘者信息</a></div>
    	<div class="list">
            <div class="headinfo">待匹配</div>
    		<a href="createCandidates.html" class="ls">
    			<span>【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
            <div class="headinfo">匹配中</div>
    		<a href="" class="ls">
    			<span>【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
            <div class="headinfo">匹配成功</div>
    		<a href="" class="ls">
    			<span>业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
            <div class="headinfo">失效</div>
            <a href="" class="ls">
                <span>业务员【招聘】业务员【招聘】业务员</span>
                <span>2014-7-24</span>
            </a>
            <div class="headinfo">评价</div>
            <a href="appraisal.html" class="ls">
                <span>业务员【招聘】业务员【招聘】业务员</span>
                <span>2014-7-24</span>
            </a>
    	</div>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
