<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>录入应聘者信息</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../otherjs/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
        <header>
            <div class="goback"><span></span>返回</div>
            录入应聘者信息
            <div class="iconNone">
                &nbsp;
            </div>
        </header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
        <form action="" name="" method="" id="">
        	<div class="orderul">
                <ul>
                    <div class="headinfo">人员信息</div>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>姓名:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="请输入姓名" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>年龄:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>联系方式:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <div class="headinfo">学校信息</div>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>学历:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>学校级别:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>学校全称:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <div class="headinfo">其他信息</div>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>现居住地:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>预可面试时间:</div>
                        <div class="orderullirw">
                            <input id="cardStartDate" name="time" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                    <li class="orderulli" style="padding:10px; overflow: inherit;">
                        <div class="orderullilw"><em class="red">*</em>状态:</div>
                        <div class="orderullirw">
                            <div class="select">
                                <div class="selectname J_select" value="0">请选择<span class="triangle"></span></div>
                                <div class="selectoption">
                                    <i value="0">请选择</i>
                                    <i value="1">带匹配</i>
                                    <i value="2">匹配中</i>
                                    <i value="3">匹配成功</i>
                                    <i value="4">失效</i>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="btn"><div class="loginbtn greenbtn"><input type="submit" value="保存" /></div></div>
            </div>
            

        </form>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
<link href="../style/mobiscroll.custom-2.5.0.min.css" rel="stylesheet" type="text/css" />
       <script src="../js/jquery.mobile-1.3.0.min.js" ></script>
        <script data-main="scripts/main" src="../js/mobiscroll.js" ></script>
         
          <script>
              $(function () {
                  var newjavascript={
     plugdatetime:function ($dateTxt,type) {
//           var curr = new Date().getFullYear();
           var opt = {}
       opt.time = {preset : type};
           opt.date = {preset : type};
           opt.datetime = { 
                preset : type, 
                minDate: new Date(2014,1,01), 
                maxDate: new Date(2100,12,31), 
                stepMinute: 1  
            };
             $dateTxt.val('').scroller('destroy').scroller(
                $.extend(opt[type], 
                    { 
                        theme: "sense-ui", 
                        mode: "scroller", 
                        display: "modal", 
                        lang: "english",
                        monthText: "月",
                        dayText: "日",
                        yearText: "年",
                        hourText: "时",
                        minuteText: "分",
                        ampmText:"上午/下午",
                        setText: '确定',
                        cancelText: '取消',
                        dateFormat: 'yy-mm-dd'
                    }
                )
            );
        }
    }
                  newjavascript.plugdatetime($("#cardStartDate"), "datetime");
              });
              
          </script>
</html>
