<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>账户登录</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">

    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid" style="position:absolute;top:50%;margin:-150px 0 0 0;width:100%;height:300px;" >
    	<div class="commenul" >
        <form action="" name="" method="" id="">
        	<ul>
            	<li><div class="commenlil">系统号：</div><div class="commenlir commenlirlong"><div class="fminput"><input type="number" name="gonghao" placeholder="请输入系统号" /></div></div></li>
                <li><div class="commenlil"><span class="shortpadding">密</span>码：</div><div class="commenlir commenlirlong"><div class="fminput"><input type="password" name="password" /></div></div></li>
            </ul>
      <!--      <div class="checkboxout"><div class="loginckb"><input type="checkbox" class="checkbox" id="loginckb" checked="checked" /></div>保持登录</div> --> 
            <div class="btn"><div class="loginbtn greenbtn"><input type="submit" value="登录" /></div></div>
        </form>
        </div>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
