<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>评价</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
        <header>
            <div class="goback"><span></span>返回</div>
            评价
            <div class="iconNone">
                &nbsp;
            </div>
        </header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
        <form action="" name="" method="" id="">
        	<div class="orderul">
                <ul>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>24h内邀约:</div>
                        <div class="orderullirw">
                            <div class="dd two50pct">
                                <input id="" name="24hour" type="radio" class="contarl-input" value="是" checked="checked"/> 是
                                <input id="" name="24hour" type="radio" class="contarl-input" value="否"/> 否
                            </div>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw longname"><em class="red">*</em>主动反馈面试进展:</div>
                        <div class="orderullirw two50pct">
                            <input id="" name="Activefeedback" type="radio" class="contarl-input" value="是" checked="checked"/> 是
                            <input id="" name="Activefeedback" type="radio" class="contarl-input" value="否"/> 否
                        </div>
                    </li>
                    <li class="orderulli" style="padding:10px; overflow: inherit;">
                        <div class="orderullilw"><em class="red">*</em>匹配结果:</div>
                        <div class="orderullirw">
                            <div class="dd">
                                <input name="matchResult" type="radio" checked="checked" /> 待匹配
                            </div>
                            <div class="d dd">
                                <input name="matchResult" type="radio" /> 失效
                                <div class="select">
                                    <div class="selectname J_select" value="0">请选择<span class="triangle"></span></div>
                                    <div class="selectoption">
                                        <i value="0">请选择</i>
                                        <i value="1">面试未过</i>
                                        <i value="2">培训未过</i>
                                        <i value="3">未签合同</i>
                                        <i value="4">已找其它工作</i>
                                    </div>
                                </div>
                            </div>
                            <div class="d dd">
                                <input name="matchResult" type="radio" /> 匹配成功
                                <input type="text" class="control-input" placeholder="请填写系统号" />
                            </div>
                        </div>
                         <div class="clear"></div>
                    </li>
                </ul>
                <div class="btn"><div class="loginbtn greenbtn"><input type="submit" value="确认评价" /></div></div>
            </div>
            

        </form>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
