<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>评价消息</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
        <header>
            <div class="goback"><span></span>返回</div>
            评价消息
            <div class="iconNone">
                &nbsp;
            </div>
        </header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
        <form action="" name="" method="" id="">
        	<div class="orderul">
                <ul>
                    <li class="orderullih">
                        <div class="orderullilw">评价人:</div>
                        <div class="orderullirw">
                            李四
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw">评价时间:</div>
                        <div class="orderullirw">
                            2014-7-25
                        </div>
                    </li>
                    <li class="orderulli" style="padding:10px;">
                        <div class="orderullilw">评价结果:</div>
                        <div class="orderullirw">
                            <div class="">
                                <p>24h内邀约：是</p>
                                <p>主动反馈面试进展：是</p>
                                <p>匹配结果：匹配成功</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn"><div class="loginbtn greenbtn"><input type="submit" value="申诉" /></div></div>
            </div>
            

        </form>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
