<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>需求信息(明细)</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
        <header>
            <div class="goback"><span></span>返回</div>
            需求信息(明细)
            <div class="icon icon1">
                <img src="../images/pingjia.png" />
            </div>
        </header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
        <form action="" name="" method="" id="">
        	<div class="orderul">
                <ul>
                    <li class="orderullih">
                        <div class="orderullilw">店长电话:</div>
                        <div class="orderullirw">
                            13800138000
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw">任店经理时间:</div>
                        <div class="orderullirw">
                            2011-7-12
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw">所在店面:</div>
                        <div class="orderullirw">
                            朝阳门
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw">店编码:</div>
                        <div class="orderullirw">
                            BJ100086
                        </div>
                    </li>
                    <li class="orderulli">
                        <div class="orderullilw nofloat">关键词:</div>
                        <div class="d">
                            <div class="orderullilw">城区:</div>
                            <div class="orderullirw">
                                朝阳区
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="d">
                            <div class="orderullilw">楼盘/地标:</div>
                            <div class="orderullirw">
                                昆泰大厦
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="d">
                            <div class="orderullilw">其他:</div>
                            <div class="orderullirw des">
                                昆泰大厦大厦大厦
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw">店面地址:</div>
                        <div class="orderullirw">
                            北京市朝阳门昆泰大厦
                        </div>
                    </li>
                    <li class="orderulli">
                        <div class="orderullilw paddingtop">周边交通路线:</div>
                        <div class="orderullirw des">
                            1，2，3，4路公交
                        </div>
                    </li>
                    <li class="orderulli">
                        <div class="orderullilw paddingtop">其他:</div>
                        <div class="orderullirw des">
                            地段好，同事好，氛围好地段好，同事好，氛围好地段好，同事好，氛围好地段好，同事好，氛围好
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>推荐人:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="请输入推荐人" value=""/>
                        </div>
                    </li>
                    <li class="orderullih">
                        <div class="orderullilw"><em class="red">*</em>应聘者:</div>
                        <div class="orderullirw">
                            <input id="" name="" type="text" class="contarl-input" placeholder="" value=""/>
                        </div>
                    </li>
                </ul>
                <div class="btn"><div class="loginbtn greenbtn"><input type="submit" value="匹配" /></div></div>
            </div>
            

        </form>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
