<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>店长新消息</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
    	<header>
    		<div class="goback"><span></span>返回</div>
    		店长新消息
    		<div class="iconNone">
                &nbsp;
            </div>
    	</header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
    	<div class="list">
            <div class="headinfo">新应聘</div>
    		<a href="informationdetail.html" class="ls">
    			<span>【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
    		<a href="" class="ls">
    			<span>【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
    		<a href="" class="ls">
    			<span>业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
            <div class="headinfo">新评价</div>
            <a href="appraisaldetail.html" class="ls">
                <span>【招聘】业务员【招聘】业务员</span>
                <span>2014-7-24</span>
            </a>
    	</div>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
