<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>需求查询</title>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/job.js"></script>

</head>

<body>
<div class="main">
    <!-- head start -->
    <div class="head">
    	<header>
    		<div class="goback"><span></span>返回</div>
    		需求查询
    		<div class="iconNone">
                &nbsp;
            </div>
    	</header>
    </div>
    <!-- head end -->
    <!-- mid start -->
    <div class="mid">
    	<div class="search">
            <div class="select left">
                <div class="selectname J_select">西城区<span class="triangle"></span></div>
                <div class="selectoption">
                    <i value="0">西城区</i>
                    <i value="1">带匹配</i>
                    <i value="2">匹配中</i>
                    <i value="3">匹配成功</i>
                    <i value="4">失效</i>
                </div>
            </div>
            <span>
                <input type="text" placeholder="请输入楼盘/街道" class="contarl-input" />
                <em class="searchbtn"><div class="icons"></div></em>
            </span>
        </div>
    	<div class="list">
    		<a href="demand.html" class="ls">
    			<span>【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
    		<a href="" class="ls">
    			<span>【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
    		<a href="" class="ls">
    			<span>业务员【招聘】业务员【招聘】业务员</span>
    			<span>2014-7-24</span>
    		</a>
    	</div>
    </div>
    <!-- mid end -->
    <!-- foot start -->
    <div class="foot">
    </div>
    <!-- foot end -->
</div>
</body>
</html>
