.clearfix:after{
	clear:both;
	content:' ';
	display:block;
	height:0;
    overflow:hidden;
}
.clearfix {
	zoom:1;
}
#container{
}

#header{
	height:70px;
	border-bottom:1px solid #fbc8a0;
	background:url(../images/bg_top.jpg) no-repeat;
	background-color:#ff9b4e;
	position:relative;
}
#top_right_nav{
	position:absolute;
	top:41px;
	right:20px;
}
#top_right_nav li{
	font-weight:normal;
	font-size:12px;
	color:#fff;
	float:left;
	position:relative;
	z-index:990;
	line-height:29px;
	height:29px;
	width:65px;
	padding:0 10px;
	text-align:center;
}
#top_right_nav li a{
	color:#000;
}
#top_right_nav li a:hover{
	color:#e9802f;
	
}
#top_right_nav li span{
	margin-left:7px;
}

#top_right_nav li.current{
	background-image:url(../images/top_4.jpg);
	background-repeat:repeat-x;
}
#top_right_nav li div #bt li{
	width:63px;
}
#top_right_nav li div #bt li.current{
	background-image:none;
	background-color:#f5decc;
}
#top_right_nav li div.submenu{
	position:absolute;
	display:none;
	top:29px;
	left:0;
	background-color:#f2f2f2;
	z-index:900;
	padding:5px 0px;
	line-height:22px;
	width:98%;
	border:1px solid #a8a8a8;	
}
#top_right_nav li.current div.submenu{
	display:block;	
}
#top_allservice{
	width:90px;
}
#bt .li{	
	display:block;
	text-align:center;
	line-height:28px;
}
#bt li.active{
	background-color:#f5decb;
    color:#f08307;
}

#main{
	position:relative;
	height:900px;
	background-image:url(../images/bg_main.jpg);
	background-repeat:repeat-y;
}
#submenu{
	position:absolute;
	left:0;
	top:0;
	width:222px;
}
#content{
    position:absolute;
	left:235px;
	top:0;
	overflow: hidden;
}

#submenu .subnav{
	background-image:url(../images/ico_submenu_6.jpg);
	background-repeat:repeat-x;
	background-position:center bottom;
}
#submenu .subnav .title{
	height:44px;
	background-image:url(../images/ico_submenu_6.jpg);
	background-repeat:repeat-x;
	background-position:center bottom;
}
#submenu .subnav .title h4.yi{
	height:44px;
	font-size:14px;
	line-height:44px;
	padding-left:38px;
	color:#fff;
	background:url("../images/ico_submenu_1.jpg") no-repeat scroll 10px 11px;
}
#submenu .subnav .title h4.er{
	height:44px;
	font-size:14px;
	line-height:44px;
	padding-left:38px;
	color:#fff;
	background:url("../images/ico_submenu_2.jpg") no-repeat scroll 10px 11px;
}
#submenu .subnav .title h4.san{
	height:44px;
	font-size:14px;
	line-height:44px;
	padding-left:38px;
	color:#fff;
	background:url("../images/ico_submenu_3.jpg") no-repeat scroll 10px 11px;
}
#submenu .subnav .title h4.si{
	height:44px;
	font-size:14px;
	line-height:44px;
	padding-left:38px;
	color:#fff;
	background:url("../images/ico_submenu_4.jpg") no-repeat scroll 10px 11px;
}
#submenu .subnav .title h4.wu{
	height:44px;
	font-size:14px;
	line-height:44px;
	padding-left:38px;
	color:#fff;
	background:url("../images/ico_submenu_5.jpg") no-repeat scroll 10px 11px;
}
#submenu .subnav .title h4.wu a{
	color:#fff;
}
#submenu .subnav ul{
	margin:6px 0;
}
#submenu .subnav ul li{
	padding-left:40px;
	width:182px;
	line-height:33px;
	font-size:14px;
}
#submenu .subnav ul li a{
	color:#fff;
}
#submenu .subnav ul li.active{
	background:url("../images/ico_submenu_7.jpg");
    color:#f08307;
}
#lieb{
	margin-top:20px;
}
#lieb ul.ann{
	padding-bottom:10px;
}
#lieb ul.ann li.one{
	font-size:12px;
	line-height:24px;
	padding:0 20px;
	float:left;
	background:url("../images/ico_content_1.jpg") no-repeat scroll 0 5px;
}
#lieb ul.ann li.two{
	font-size:12px;
	line-height:24px;
	padding:0 20px;
	float:left;
	background:url("../images/ico_content_2.jpg") no-repeat scroll 0 5px;
}
#lieb ul.ann li.three{
	font-size:12px;
	line-height:24px;
	padding:0 20px;
	float:left;
	background:url("../images/ico_content_3.jpg") no-repeat scroll 0 5px;
}
#lieb ul.ann li.four{
	font-size:12px;
	line-height:24px;
	padding:0 20px;
	float:left;
	background:url("../images/ico_content_4.jpg") no-repeat scroll 0 5px;
}
#lieb ul.ann li.five{
	font-size:12px;
	line-height:24px;
	padding:0 20px;
	float:left;
	background:url("../images/ico_content_5.jpg") no-repeat scroll 0 5px;
}
#lieb table.cuoshi{
    border-collapse: collapse;
	border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
}
#lieb table.cuoshi thead {
    background-color:#f1f1f1;
}
#lieb table.cuoshi thead tr th {
    border:1px dotted #ccc;
	border-bottom: 1px solid #ccc;
    color: #333;
    line-height:24px;
	height:24px;
	font-size:12px;
    text-align: center;
	padding:0 25px;
	white-space:nowrap;
	
}
#lieb table.cuoshi tr td{
	color:#45433d;	
	height:24px;
	line-height:24px;
	border:1px solid #b2b0ac;
	text-align:center;
}
#lieb table.cuoshi tr td{
	color:#333;	
	line-height:24px;
	font-size:12px;
	border:1px dotted #ccc;
	text-align:center;
	padding:0 25px;
	white-space:nowrap;
}
#lieb table.cuoshi tr.current td{
	background-color:#e6e6e6;
}

#lieb table.cuoshi tr.current td a{
	background-color:#e6e6e6;
	color:#000;
	text-decoration:none;
}
#tiaojian{
	margin-top:20px;
}
#tiaojian h4{
	border-bottom:1px solid #bbb;
	background-image:url(../images/ico_content_10.jpg);
	background-repeat:no-repeat;
	background-position:center right;
	line-height:28px;
	height:28px;
	font-size:14px;
	color:#f08307;
}
#tiaojian dl{
	padding:10px 5px;
	border-bottom:1px dotted #a9a9a9;
}
#tiaojian dt{
	float:left;
	width:150px;
	font-size:12px;
	color:#000;
	line-height:24px;
}
#tiaojian dd{
	float:left;
	font-size:12px;
}
#tiaojian dd input{
	width:200px;
	height:24px;
}
#fany{
	margin-top:20px;
	padding-top:10px;
	border-top:1px dotted #a9a9a9;
}
#fany .kuai{
	padding:0 10px;
	float:left;
	height:24px;
	font-size:12px;
	line-height:24px;
	border-right:1px solid #c4c4c4;
}
#fany .no{
	border-right:0;
}
#fany .kuai img{
	margin-top:6px;
}
#fany select{
	height:24px;
	width:50px;
}
#fany input{
	height:24px;
	width:40px;
}
#fany .xians{
	font-size:12px;
	float:right;
	padding-right:15px;
	line-height:24px
}




.theme-buy{
	margin-top:15px;
}
.btn{
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	text-align:center;
	color:#666;
}

.theme-buy{margin-top:7%;text-align:center;}
.theme-signin{font-size:15px;}
.theme-popover-mask{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme-popover{
	z-index:9;
	position:absolute;
	top:15%;
	left:15%;
	width:988px;
	height:420px;
	border-radius:5px;
	border:solid 1px #9f9d9d;
	background-color:#f5f5f5;
	display:none;
}
.theme-poptit{
	background-image:url(../images/bg_tanchu.jpg);
	padding:12px 12px 12px 50px;
	position:relative;
	height:26px;
}
.theme-poptit .close{
	float:right;
	color:#fff;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #fff;
}
.theme-poptit .close:hover{
	color:#fff;
}
.theme-poptit h3{
	color:#fff;
	font-size:16px;
}
.theme-popbod{
	padding:5px 0;
}
.theme-popbod .gund{
	width:980px;
	height:300px;
	overflow:auto;
}
.theme-popbod .tianjia{
	margin:20px 0 0 0;
	width:968px;
	padding:10px 20px 0 0;
	border-top:1px solid #c6c6c6;
}
.theme-popbod .tianjia .tj{
	float:right;
}
.theme-popbod table.srk{
    border-collapse: collapse;
	width:960px;
}
.theme-popbod table.srk tr{
	width:960px;
	border-bottom:1px solid #c6c6c6;
}
.theme-popbod table.srk td{
	padding:10px 5px;
	text-align:left;
}
.theme-popbod table.srk td.zi{
    width:160px;
	font-size:14px;
	color:#333;
	line-height:24px;
	text-align:right;
}
.theme-popbod table.srk td select{
	height:24px;
	width:130px;
}
.theme-popbod table.srk td input{
	height:24px;
	width:130px;
}
.theme-popbod .lib{
	padding:15px 0 0 15px;
}
.theme-popbod .lib .title{
	width:145px;
	height:30px;
	margin-left:10px;
	line-height:30px;
	font-size:14px;
	color:#333;
	padding-left:45px;
	background-image:url(../images/bg_tanchu_1.jpg);
}
.theme-popbod .lib table.sz{
    border-collapse: collapse;
	width:920px;
}
.theme-popbod .lib table.sz th{
	border:1px solid #c8ac94;
	background-color:#f5dcc9;
	padding:3px 10px;
	line-height:24px;
	font-size:12px;
	color:#333;
	text-align:center;
}
.theme-popbod .lib table.sz td{
	border:1px dotted #a9a9a9;
	padding:3px 10px;
	line-height:24px;
	font-size:12px;
	color:#333;
	text-align:center;
}